[submodule "Utils1"]
	path = Utils1
	url = https://github.com/Baneeishaque/Android-Common-Utils1.git
[submodule "Utils3"]
	path = Utils3
	url = https://github.com/Baneeishaque/Android-Common-Utils3.git
